.carousel.carousel-slider {
    display: flex;
    flex-direction: column;
}

.carousel .slider-wrapper {
    height: 530px;
}

.carousel .control-next.control-arrow {
    background-color: rgb(184, 142, 47);
    opacity: 0.8;

}

.carousel .control-next.control-arrow:hover {
    background-color: rgb(184, 151, 75);
}

.carousel.carousel-slider .control-arrow {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    right: 95px;
}

.carousel .control-dots {
    order: 2;
    position: relative;
    text-align: start;
    top: 6px;
}

.control-prev {
    display: none;
}

.carousel .control-dots .dot {
    background-color: #D8D8D8;
    box-shadow: none;
    width: 11px;
    height: 11px;
}

.carousel .control-dots .dot.selected {
    background-color: #B88E2F;
    outline: 1px solid #B88E2F;
    outline-offset: 6px;
}

.carousel .control-next.control-arrow::before {
    border-left: 8px solid rgb(160, 109, 147) !important;
}

ul.slider.animated {
    width: 80% !important;
  }