* {
    margin: 0;
    padding: 0;
}

#main-nav {
    width: 1440px;
    height: 100px;
    /* border-bottom: 1px solid black; */
    display: flex;
    align-items: center;
}

#items {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    list-style: none;
    color: black;
}

#logo-parent { /* parent logo */
    display: flex;
    align-items: center;
    gap: 10px;
    width: 15%;
    /* border: 1px solid black; */
    margin-left: 54px;
}

#logo-parent h1 {
    color: #000;
    font-family: sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#logo {
    width: 50px;
    height: 32px;
    /* background-color: black; */
}

a {
    text-decoration: none;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#icons { /* parent profile .... */
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 35px;
    /* border: 1px solid black; */
    width: 20%;
}